<h2>Burgers</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li style="list-style-type:none">
        {{this.burger_name}}
        <button class="change-devoured" data-id={{this.id}}>Devour it</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li style="list-style-type:none">
        {{this.burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>


<h2>Add a burger</h2>
<form class="create-form" method="post" action="/api/burgers">
    <div class="form-group">
        <label for="ca">Burgers Name:</label>
        <input type="text" id="ca" name="burger_name">
    </div>
    <button type="submit">Add Burger</button>
</form>